<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241313966132-398des2po2usq6f6tl35o6dvg48dke32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241313966132-398des2po2usq6f6tl35o6dvg48dke32</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>241313966132-d83ap26stddpk1mn6tlnjbfka5f5kgb0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCaBDyXRstTPxxdCc-5rxvYDQm4ujQgD8E</string>
	<key>GCM_SENDER_ID</key>
	<string>241313966132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dinnova.shekhaqar</string>
	<key>PROJECT_ID</key>
	<string>shekh-aqar</string>
	<key>STORAGE_BUCKET</key>
	<string>shekh-aqar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241313966132:ios:0056776948cc00ca7fc261</string>
	<key>DATABASE_URL</key>
	<string>https://shekh-aqar.firebaseio.com</string>
</dict>
</plist>